/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  transition: all 300ms ease; }

html, body {
  height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

::-moz-selection {
  color: #fff;
  background: #000; }

::selection {
  color: #fff;
  background: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111; }

.home {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  font-family: 'Rubik', sans-serif; }
  .home .logo {
    height: 50px;
    margin-top: 100px;
    width: auto; }
  .home .message {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .home .message .center {
      -ms-flex: 1;
          flex: 1;
      min-height: 0px; }
      .home .message .center .heading {
        font-size: 15rem;
        margin: 0;
        padding: 0;
        font-weight: 700;
        display: inline-block; }
      .home .message .center .typed-cursor {
        font-size: 16rem;
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .home .cta {
    text-align: center;
    height: 260px;
    padding: 30px; }
    .home .cta .cta-text {
      font-size: 20px;
      color: #111;
      margin: 0;
      line-height: 38px;
      font-weight: 300;
      margin-bottom: 30px; }
    .home .cta .cta-button {
      background: #004EFF;
      background: #0088ff;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #0088ff), color-stop(100%, #004eff));
      background: linear-gradient(to bottom, #0088ff 0%, #004eff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#004eff', GradientType=0 );
      color: #fff;
      height: 50px;
      width: auto;
      line-height: 50px;
      text-decoration: none;
      display: inline-block;
      padding: 0 50px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 300; }
      .home .cta .cta-button .icon {
        margin-right: 10px;
        margin-left: -10px;
        vertical-align: middle;
        font-size: 40px;
        color: #fff; }
      .home .cta .cta-button:hover {
        background: #004EFF; }

@media screen and (min-width: 320px) and (max-width: 374px) {
  .home .logo {
    height: 40px; }
  .home .message .center .heading {
    font-size: 42px; }
  .home .message .center .typed-cursor {
    font-size: 52px; }
  .home .cta .cta-question {
    font-size: 18px;
    line-height: 28px; } }

@media screen and (min-width: 375px) and (max-width: 413px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 52px; }
  .home .message .center .typed-cursor {
    font-size: 62px; }
  .home .cta .cta-question {
    font-size: 18px;
    line-height: 28px; } }

@media screen and (min-width: 414px) and (max-width: 719px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 60px; }
  .home .message .center .typed-cursor {
    font-size: 70px; }
  .home .cta .cta-question {
    font-size: 18px;
    line-height: 28px; } }

@media screen and (min-width: 720px) and (max-width: 767px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 90px; }
  .home .message .center .typed-cursor {
    font-size: 100px; }
  .home .cta .cta-question {
    font-size: 18px;
    line-height: 28px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 90px; }
  .home .message .center .typed-cursor {
    font-size: 100px; }
  .home .cta .cta-question {
    font-size: 20px;
    line-height: 28px; } }

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 130px; }
  .home .message .center .typed-cursor {
    font-size: 140px; }
  .home .cta .cta-question {
    font-size: 20px;
    line-height: 28px; } }

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .home .logo {
    height: 50px; }
  .home .message .center .heading {
    font-size: 160px; }
  .home .message .center .typed-cursor {
    font-size: 170px; }
  .home .cta .cta-question {
    font-size: 20px;
    line-height: 28px; } }
