<!DOCTYPE html>
<!-- u lost or somethin m8? no? here is a gif: http://www.reactiongifs.com/r/ktf.gif -->
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="spoy foundry, interactive marketing, design studio, design studio bandung, branding house, bandung, indonesia">
        <meta name="description" content="Interactive marketing and design studio based in Bandung. Stay lean, stay sharp, stay young.">
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
        <link rel="canonical" href="http://www.spoyfoundry.com" />
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700" rel="stylesheet">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/typed.min.js"></script>
        <script type="text/javascript">var host = "spoyfoundry.com"; if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";</script>
    </head>
    <body>
      {{ content }}
    </body>
</html>
